<form action="/parcels" method="post">
  <label for="height">Package Height</label>
  <input id="height" name="height" type="text">
    <label for="width">Package Width</label>
  <input id="width" name="width" type="text">
    <label for="depth">Package Depth</label>
  <input id="depth" name="depth" type="text">
    <label for="weight">Package Weight</label>
  <input id="weight" name="weight" type="text">
  <button type="submit">Submit</button>
</form>