<form action="/parcels" method="post">
  <label for="height">Add a new item</label>
  <input id="height" name="height" type="text">
    <label for="width">Add a new item</label>
  <input id="width" name="width" type="text">
    <label for="depth">Add a new item</label>
  <input id="depth" name="depth" type="text">
    <label for="weight">Add a new item</label>
  <input id="weight" name="weight" type="text">
  <button type="submit">Submit</button>
</form>